.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "faucet-1 . liquidity-pool-1 liquidity-pool-1 . liquidity-pool-2 liquidity-pool-2"
    "faucet-2 . liquidity-pool-1 liquidity-pool-1 . liquidity-pool-2 liquidity-pool-2"
    "faucet-3 . . . . . ."
    "faucet-4 . . . . . .";
}

.faucet-1 { grid-area: faucet-1; }

.faucet-2 { grid-area: faucet-2; }

.faucet-3 { grid-area: faucet-3; }

.faucet-4 { grid-area: faucet-4; }

.liquidity-pool-1 { grid-area: liquidity-pool-1; }

.liquidity-pool-2 { grid-area: liquidity-pool-2; }